<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fasde.android.distanceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/display_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/display_name"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".view.SpielortDetailActivity"
            android:label="@string/display_name"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.KreisPickActivity"
            android:label="@string/display_name"/>
        <activity android:name=".view.ImpressumActivity" />
    </application>

</manifest>